/* You can add global styles to this file, and also import other style files */

html,
body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.table-responsive,
mat-table,
table {
  width: 100%;
  text-align: left;
  overflow: auto;
  min-width: 280px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05) !important;
}

.table-responsive,
mat-header-row,
mat-header-cell,
mat-cell {
  white-space: nowrap;
}

/* responsibe table */
@media (max-width: 800px) {
  .responsive_table {
    overflow-x: auto !important;
  }

  table,
  mat-table {
    min-width: auto;
    display: flexbox;
  }
}

tr,
mat-row {
  height: auto;
}

th,
mat-header-cell,
td,
mat-cell {
  text-align: center !important;
  padding: 0px 8px 0px 15px !important;
}

.red-snackbar {
  --mdc-snackbar-container-color: rgb(222, 87, 87);
  --mdc-snackbar-supporting-text-color: white;
  text-align: center;
}

.green-snackbar {
  --mdc-snackbar-container-color: #22ca76;
  --mdc-snackbar-supporting-text-color: black;
  text-align: center;
}


.spacer {
  flex: 1 1 auto;
}

.float-right {
  float: right;
}

.mat-typography {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
}
