.input-container {
  z-index: 2;
  width: 550px;

  justify-content: center;
  align-items: center;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* border: solid 3px #673ab7; */
  border-radius: 4px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05) !important;
}

mat-card {
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05) !important;
  z-index: 2;
}

mat-hint {
  color: red;
}

b {
  margin: 5px 8px 16px;
  color: #673ab7;
}

@media screen and (max-width: 650px) {
  .input-container {
    width: 95%;
    display: block;
    flex: 1 1 auto;
  }
}


.bg-image {
  /* The image used */
  background-image: url("/../assets/img/homeBanner.jpeg");

  /* Add the blur effect */
  filter: blur(3px);
  -webkit-filter: blur(3px);

  /* Full height */
  height: 100vh;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;

  @media (max-width: 768px) {
    background-size: cover;
    align-self: center;
  }
}

.container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
}