<div class="container">
  
<mat-card>
  <b><span>Reset Password</span></b>
</mat-card>

<hr />

  <mat-card>
    <form [formGroup]="resetPasswordForm">
      <div fxFlex fxLayout="column">
        <div fxFlex fxLayout="row wrap">
          <mat-form-field appearance="fill" fxFlex>
            <mat-label>New Password</mat-label>
            <input
              matInput
              formControlName="newPassword"
              type="password"
              required
              [type]="hideNewPassword ? 'password' : 'text'"
            />
            <button
              type="button"
              mat-icon-button
              matSuffix
              (click)="hideNewPassword = !hideNewPassword"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="'newPassword'"
            >
              <mat-icon>
                {{
                  hideNewPassword ? "visibility_off" : "visibility"
                }}</mat-icon
              >
            </button>
            <mat-error
              *ngIf="
                resetPasswordForm.controls['newPassword']?.touched &&
                resetPasswordForm.controls['newPassword']?.invalid
              "
            >
              <span
                *ngIf="resetPasswordForm.controls['newPassword']?.errors?.['required']"
                >This field is mandatory</span
              >
            </mat-error>
          </mat-form-field>
        </div>

        <div fxFlex fxLayout="row wrap">
          <mat-form-field appearance="fill" fxFlex>
            <mat-label>Confirm Password</mat-label>
            <input
              matInput
              formControlName="confirmPassword"
              type="password"
              required
              [type]="hideConfirmPassword ? 'password' : 'text'"
            />
            <button
              type="button"
              mat-icon-button
              matSuffix
              (click)="hideConfirmPassword = !hideConfirmPassword"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="'confirmPassword'"
            >
              <mat-icon>
                {{
                  hideConfirmPassword ? "visibility_off" : "visibility"
                }}</mat-icon
              >
            </button>
            <mat-error
              *ngIf="
                resetPasswordForm.controls['confirmPassword']?.touched &&
                resetPasswordForm.controls['confirmPassword']?.invalid
              "
            >
              <span
                *ngIf="resetPasswordForm.controls['confirmPassword']?.errors?.['required']"
                >This field is mandatory</span
              >
            </mat-error>
            <mat-hint
              *ngIf="
                validateSubmit() &&
                !resetPasswordForm.controls['confirmPassword'].invalid
              "
            >
              <span>New Password & Confirm Password does not match</span>
            </mat-hint>
          </mat-form-field>
        </div>
      </div>
    </form>

    <div>
      <button
        mat-flat-button
        color="primary"
        class="float-right"
        (click)="handlePasswordChangeSubmit()"
        [disabled]="
          validateSubmit() ||
          !(resetPasswordForm.valid && resetPasswordForm.dirty)
        "
      >
        <mat-icon>save</mat-icon>Reset Password
      </button>
    </div>
  </mat-card>
</div>

<!-- <mat-toolbar color="primary">
  <mat-toolbar-row fxLayout="row">
    <span>Reset Password</span>
    <span class="spacer"></span>
    <button class="mat-dialog-close" mat-icon-button mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-dialog-content class="mat-typography">
  <form [formGroup]="resetPasswordForm">
    <div fxFlex fxLayout="column">
      <mat-form-field appearance="fill" fxFlex>
        <mat-label>New Password</mat-label>
        <input
          matInput
          formControlName="newPassword"
          type="password"
          required
          [type]="hideNewPassword ? 'password' : 'text'"
        />
        <button
          type="button"
          mat-icon-button
          matSuffix
          (click)="hideNewPassword = !hideNewPassword"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="'newPassword'"
        >
          <mat-icon>
            {{ hideNewPassword ? "visibility_off" : "visibility" }}</mat-icon
          >
        </button>
        <mat-error
          *ngIf="
            resetPasswordForm.controls['newPassword']?.touched &&
            resetPasswordForm.controls['newPassword']?.invalid
          "
        >
          <span
            *ngIf="resetPasswordForm.controls['newPassword']?.errors?.['required']"
            >This field is mandatory</span
          >
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" fxFlex>
        <mat-label>Confirm Password</mat-label>
        <input
          matInput
          formControlName="confirmPassword"
          type="password"
          required
          [type]="hideConfirmPassword ? 'password' : 'text'"
        />
        <button
          type="button"
          mat-icon-button
          matSuffix
          (click)="hideConfirmPassword = !hideConfirmPassword"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="'confirmPassword'"
        >
          <mat-icon>
            {{
              hideConfirmPassword ? "visibility_off" : "visibility"
            }}</mat-icon
          >
        </button>
        <mat-error
          *ngIf="
            resetPasswordForm.controls['confirmPassword']?.touched &&
            resetPasswordForm.controls['confirmPassword']?.invalid
          "
        >
          <span
            *ngIf="resetPasswordForm.controls['confirmPassword']?.errors?.['required']"
            >This field is mandatory</span
          >
        </mat-error>
        <mat-hint
          *ngIf="
            validateSubmit() &&
            !resetPasswordForm.controls['confirmPassword'].invalid
          "
        >
          <span>New Password & Confirm Password does not match</span>
        </mat-hint>
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>


<mat-dialog-actions align="end">
  <button
    mat-raised-button
    color="primary"
    type="submit"
    (click)="handlePasswordChangeSubmit()"
    [disabled]="validateSubmit() || !(resetPasswordForm.valid && resetPasswordForm.dirty)"
  >
    <mat-icon>save</mat-icon> Reset Password
  </button>
  <button mat-raised-button color="warn" mat-dialog-close>
    <mat-icon>cancel</mat-icon> Close
  </button>
</mat-dialog-actions> -->
